In [7]:
# Import pandas library 
import pandas as pd 
  
# List of Tuples 
employees = [('Stuti', 28, 'Varanasi'), 
            ('Saumya', 32, 'Delhi'), 
            ('Aaditya', 25, 'Mumbai'), 
            ('Saumya', 32, 'Delhi'), 
            ('Saumya', 32, 'Delhi'), 
            ('Saumya', 32, 'Mumbai'), 
            ('Aaditya', 40, 'Dehradun'), 
            ('Seema', 32, 'Delhi') 
            ] 
  
# Creating a DataFrame object 
df = pd.DataFrame(employees,  
                  columns = ['Name', 'Age', 'City']) 
  
# Selecting duplicate rows except last  
# occurrence based on all columns. 
duplicate = df[df.duplicated()]
  
print("Duplicate Rows :") 
  
# Print the resultant Dataframe 
duplicate

Duplicate Rows :

     Name  Age   City
3  Saumya   32  Delhi
4  Saumya   32  Delhi