In [14]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
# Import the covid-19 dataset 
covid_data = pd.read_csv('Resources/owid-covid-data.csv')
covid_data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ABW,North America,Aruba,3/13/2020,2.0,2.0,NaN,0.0,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
1,ABW,North America,Aruba,3/19/2020,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2,ABW,North America,Aruba,3/20/2020,4.0,2.0,0.286,0.0,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
3,ABW,North America,Aruba,3/21/2020,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
4,ABW,North America,Aruba,3/22/2020,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN

In [17]:
#Get Total for the following:
#Total # of Cases for North America 
#Total # of Cases for Africa 
#Total # of Deaths for North America 
#Total # of Death for Africa

TypeError: 'DataFrame' object is not callable

In [ ]:
#Correlation of # of covid-19 cases with population density

In [ ]:
#Correlation of # of covid-19 cases with GDP per capita

In [ ]:
#Correlation of total # of deaths with life expectancy

In [ ]:
#Correlation of diabetes with total # of deaths

In [ ]:
#How many hospital beds per thousand available for each continent?